In [16]:
import pandas as pd
import numpy as np

In [72]:
df=pd.read_excel("Exam Stress Final.xlsx",sheet_name=None)

In [116]:
grades=df['Grades']
demography=df['Demography']
eda=df['EDA']
hr=df['HR']
temp=df['Temp']
ibi=df['IBI']

# Q-2 Group the rows in file EDA in 3 parts- First ,second and third part of each exam

In [111]:
df=pd.read_csv("C:/Users/mande/Jupyterdocs/Py Hack/Data/EDA.csv")
grouped_data = df.groupby('Exam')

In [54]:

for exam, group in grouped_data:
    print(exam)
    print(group)

final
      EDA Value  Time in mins Student_id   Exam
0         0.040             1        S01  final
1         0.024             2        S01  final
2         0.024             3        S01  final
3         0.024             4        S01  final
4         0.024             5        S01  final
...         ...           ...        ...    ...
6959      0.021           380       S010  final
6960      0.021           381       S010  final
6961      0.021           382       S010  final
6962      0.021           383       S010  final
6963      0.021           384       S010  final

[3403 rows x 4 columns]
midterm 1
      EDA Value  Time in mins Student_id       Exam
389       0.040             1        S01  midterm 1
390       0.023             2        S01  midterm 1
391       0.023             3        S01  midterm 1
392       0.023             4        S01  midterm 1
393       0.023             5        S01  midterm 1
...         ...           ...        ...        ...
7153      0.022           190       S010  midterm 1
7154      0.021           191       S010  midterm 1
7155      0.021           192       S010  midterm 1
7156      0.021           193       S010  midterm 1
7157      0.021           194       S010  midterm 1

[1957 rows x 4 columns]
midterm 2
      EDA Value  Time in mins Student_id       Exam
575       0.040             1        S01  midterm 2
576       0.024             2        S01  midterm 2
577       0.023             3        S01  midterm 2
578       0.024             4        S01  midterm 2
579       0.024             5        S01  midterm 2
...         ...           ...        ...        ...
7369      0.021           212       S010  midterm 2
7370      0.021           213       S010  midterm 2
7371      0.021           214       S010  midterm 2
7372      0.021           215       S010  midterm 2
7373      0.021           216       S010  midterm 2

[2014 rows x 4 columns]

# Q3 Which part of the exam did students suffer max stress?

In [49]:
# Finding the max EDA value for all 3  exam parts
max_values = df.groupby('Exam')['EDA Value'].max()

In [46]:
print(max_values)

Exam
final        2.920
midterm 1    3.130
midterm 2    5.795
Name: EDA Value, dtype: float64

In [50]:
# Finding  the max EDA value for each exam for each student ID
max_values = df.groupby(['Student_id', 'Exam'])['EDA Value'].max()

In [51]:
print(max_values)

Student_id  Exam
S01         final        0.224
            midterm 1    2.198
            midterm 2    0.511
S010        final        1.214
            midterm 1    0.538
            midterm 2    1.423
S02         final        0.582
            midterm 1    1.311
            midterm 2    1.202
S03         final        1.147
            midterm 1    1.322
            midterm 2    1.651
S04         final        2.778
            midterm 1    3.130
            midterm 2    5.795
S05         final        1.492
            midterm 1    1.611
            midterm 2    1.012
S06         final        1.127
            midterm 1    2.184
            midterm 2    1.401
S07         final        1.485
            midterm 1    0.770
            midterm 2    1.284
S08         final        2.920
            midterm 1    1.628
            midterm 2    1.545
S09         final        0.825
            midterm 1    0.400
            midterm 2    2.756
Name: EDA Value, dtype: float64

In [52]:
# Calculating the mean of the max EDA values for each exam
mean_max_values = max_values.groupby('Exam').mean()

In [133]:
print(mean_max_values)

Exam
final        1.3794
midterm 1    1.5092
midterm 2    1.8580
Name: EDA Value, dtype: float64

 Max EDA value for each exam part (Highest is Midterm2)  and mean of max EDA values(Highest is Midterm 2) show that students suffer max stress in Midterm 2 Exams.

# Q45 Find the student's Max Mean EDA who are attending final

In [57]:
#  data where the exam is final
final_df = df[df['Exam'] == 'final']

In [58]:
final_df

      EDA Value  Time in mins Student_id   Exam
0         0.040             1        S01  final
1         0.024             2        S01  final
2         0.024             3        S01  final
3         0.024             4        S01  final
4         0.024             5        S01  final
...         ...           ...        ...    ...
6959      0.021           380       S010  final
6960      0.021           381       S010  final
6961      0.021           382       S010  final
6962      0.021           383       S010  final
6963      0.021           384       S010  final

[3403 rows x 4 columns]

In [70]:
# Group by Student_id and calculate the mean of EDA
mean_eda_by_student = final_df.groupby('Student_id')['EDA Value'].mean()


print ("Max mean EDA of students in final exam are:")
print (mean_eda_by_student)

Max mean EDA of students in final exam are:
Student_id
S01     0.103118
S010    0.111297
S02     0.078360
S03     0.169737
S04     0.526800
S05     0.542409
S06     0.129932
S07     0.212474
S08     0.534721
S09     0.402572
Name: EDA Value, dtype: float64