In [ ]:
ibi_mean = np.mean(ibi.IBI)
selected_interval = ibi.IBI[:30]
successive_diff = np.diff(selected_interval)
rmssd = np.sqrt(np.mean(successive_diff**2))
ibi_with_rmssd = ibi_mean + rmssd
print('RMSSD: ',ibi_with_rmssd)

In [ ]:
# Find the student(s) with the maximum mean EDA
max_mean_students = mean_eda_by_student[mean_eda_by_student == mean_eda_by_student.max()]

print("Students with the maximum mean EDA attending 'final' exam:")
for student_id, mean_eda in max_mean_students.items():
    print(f"Student ID: {student_id}, Maximum Mean EDA: {mean_eda}")

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
df = pd.read_excel("C:\Surya\DA\Hackathons\Python Hackathon Dec2023\Exam Stress Final.xlsx",sheet_name=None)
grades=df['Grades']
demography=df['Demography']
eda=df['EDA']
hr=df['HR']
temp=df['Temp']
ibi=df['IBI']
Q1. Using the mean interbeat interval per minute, calculate the Root Mean Square of successive differences for any 30 minute interval and add this to IBI

ibi_mean = np.mean(ibi.IBI)
selected_interval = ibi.IBI[:30]
successive_diff = np.diff(selected_interval)
rmssd = np.sqrt(np.mean(successive_diff**2))
ibi_with_rmssd = ibi_mean + rmssd
print('RMSSD: ',ibi_with_rmssd)
RMSSD:  0.6549284511905323
Q7. "Using numpy functions, transpose and multiply the following arrays a=np.arange(4).reshape(2,2) b=np.arange(6).reshape(3,2) "

In [ ]:
a = np.arange(4).reshape(2, 2)
b = np.arange(6).reshape(3, 2)
print("\n Array a:")
print(a)
print("\n Array b:")
print(b)
print("\nTransposed Array a:")
print(np.transpose(a))

print("\nTransposed Array b:")
print(np.transpose(b))

print("\nResult of Transposed Multiplication:")
print(np.dot(a_transposed, b_transposed))

In [ ]:
#8
array1 = np.array([1, 2, 3, 4, 5])
print("Array Created:", array1)

rev_array1 = np.flip(array1)
print("\nArray in Reverse Order:", rev_array1)

In [14]:
#9
average_grades_by_student = grades.groupby('Student_id').mean()

print("Average Grade for all Students:")
print(average_grades_by_student)

Average Grade for all Students:
            Midterm 1  Midterm 2  final
Student_id
S01              78.0       82.0  182.0
S02              82.0       85.0  180.0
S03              77.0       90.0  188.0
S04              75.0       77.0  149.0
S05              67.0       77.0  157.0
S06              71.0       64.0  175.0
S07              64.0       33.0  110.0
S08              92.0       88.0  184.0
S09              80.0       39.0  126.0
S10              89.0       64.0  116.0

In [ ]:
for index, row in demography.iterrows():
    if row['DOB'].year == 2010:
        full_name = f"{row['First Name']} {row['Last Name']}"
        students_born_2010_names.append(full_name)

# Display the full names of students born in 2010
print("Full Names of Students Born in 2010:")
for name in students_born_2010_names:
    print(name)

In [ ]:
# Create an empty list to store full names of students born in 2010
students_born_2010_names = []

# Iterate through rows and check if the student was born in 2010
for index, row in demography.iterrows():
    if row['DOB'].year == 2010:
        full_name = f"{row['First Name']} {row['Last Name']}"
        students_born_2010_names.append(full_name)

# Display the full names of students born in 2010
print("Full Names of Students Born in 2010:")
for name in students_born_2010_names:
    print(name)

In [ ]:
students_born_2010 = demography[demography['DOB'].dt.year == 2010]

# Display the full names of students born in 2010 without row numbers
print("Full Names of Students Born in 2010:")
print(students_born_2010[['First Name', 'Last Name']].to_string(index=False))

In [19]:
top_3_midterm2 = grades.sort_values(by='Midterm 2', ascending=False).head(3)

# Get the Student_ids of the top 3 grades
top_3_student_ids = top_3_midterm2['Student_id']

# Filter the HR DataFrame for students with top 3 grades in Midterm 2
hr_top_3 = hr[hr['Student_id'].isin(top_3_student_ids)]
# Calculate the average HR for these students
average_hr_top_3 = hr_top_3['HR'].mean()

print(f"The average HR of students with top 3 grades in Midterm 2: {average_hr_top_3:.2f}")

The average HR of students with top 3 grades in Midterm 2: 107.99

In [ ]:
plt.bar(grades['Student_id'], grades['Midterm 1'])

# Set labels and title
plt.xlabel('Student ID')
plt.ylabel('Midterm 1 Grade')
plt.title('Midterm 1 Grades of Students')

# Display the bar chart
plt.show()

In [ ]:
female_percentage = (demography['Gender'].value_counts(normalize=True).get('F', 0)) * 100

print(f"The percentage of female students is: {female_percentage:.2f}%")

In [ ]:
students_below_basal_temp = temp[temp['TEMP'] < 36]

# Display the relevant information
print("Students for whom temperature fell below basal body temp of 36 degrees:")
print(students_below_basal_temp)

In [ ]:
students_below_basal_temp = temp[temp['TEMP'] < 36]

# Extract distinct student IDs from the filtered DataFrame
distinct_student_ids = students_below_basal_temp['Student_id'].drop_duplicates()

# Display distinct student IDs for whom temperature fell below basal body temp
print("Distinct Student IDs for whom temperature fell below basal body temp of 36 degrees:")
print(distinct_student_ids)

In [ ]:
students_below_basal_temp = temp[temp['TEMP'] < 36]

# Merge with Demography to get first name and last name
result_df = pd.merge(students_below_basal_temp[['Student_id']],
                     demography[['Student_id', 'First Name', 'Last Name']],
                     on='Student_id',
                     how='inner')

# Display distinct student IDs with first name and last name
print("Distinct Student IDs with first name and last name for whom temperature fell below basal body temp of 36 degrees:")
print(result_df.drop_duplicates(subset='Student_id'))

In [ ]:
phonebook = {"john": 938477566, "Jack": 938377264, "Jill": 947662781}

# Attempt to find Joe's phone number with a default value
joe_phone = phonebook.get("Joe", "Joe's phone number not found")

print(joe_phone)

In [ ]:
midterm2_df = eda[eda['Exam'] == 'Midterm 2']

# Calculate the average duration of Midterm 2
average_duration_midterm2 = midterm2_df['Time in mins'].mean()
print(average_duration_midterm2)

print(f"The average duration of Midterm 2 for all 10 students: {average_duration_midterm2:.2f} minutes")

In [ ]:
midterm2_df = eda[eda['Exam'] == 'midterm 2']
print(midterm2_df)

# Calculate the average duration of Midterm 2, excluding NaN values
average_duration_midterm2 = midterm2_df['Time in mins'].mean()

print(f"The average duration of Midterm 2 for all 10 students: {average_duration_midterm2:.2f} minutes")

In [ ]:
#17
race_counts = demography['Race'].value_counts()
asian_percentage = (race_counts.get('Asian', 0) / len(demography)) * 100
print("Percentage of Asian Students: ",asian_percentage)

In [ ]:
filtered_students = demography[demography['Last Name'].str.endswith('s')]
print(filtered_students)

In [ ]:
# Convert the string to a datetime object
date_object = DOB.strptime(date_string, "%Y-%m-%d")

demography.DOB=pd.to_datetime(demography.DOB).dt.year
leap_year_df = demography.DOB % 4 == 0
leap_year_df

In [ ]:

# Extract the year from the 'Birth_year' column
df['DOB'] = pd.to_datetime(df['DOB']).dt.year

In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

df=pd.read_excel("Exam Stress Final.xlsx",sheet_name=None)

In [8]:
grades=df['Grades']
demography=df['Demography']
eda=df['EDA']
hr=df['HR']
temp=df['Temp']
ibi=df['IBI']

#Q 33Make a Pivot table where Student IDs are the columns and EDA, HR and temp values are the rows

In [13]:

# Assuming df contains the data for EDA, HR, and Temp
# If your EDA, HR, and Temp columns have different names, replace them accordingly

# Merge the EDA, HR, and Temp DataFrames into a single DataFrame
eda_df = pd.DataFrame({'Student_id': df['Student_id'], 'EDA': df['EDA']})
hr_df = pd.DataFrame({'Student_id': df['Student_id'], 'HR': df['HR']})
temp_df = pd.DataFrame({'Student_id': df['Student_id'], 'Temp': df['Temp']})

# Merge the DataFrames
merged_df = pd.concat([eda_df, hr_df, temp_df], axis=0)

# Create a pivot table
p_table = merged_df.pivot_table(index='EDA', columns='Student_id', values='HR', aggfunc='first')

# Display the pivot table
print(pivot_table)

KeyError: 'Student_id'

In [12]:
eda_df = pd.DataFrame({'Student id': df['Student id'], 'EDA': eda})
hr_df = pd.DataFrame({'Student id': df['Student id'], 'HR': hr})
temp_df = pd.DataFrame({'Student id': df['Student id'], 'Temp': temp})

KeyError: 'Student id'

In [ ]:
pandas.pivot_table(data, values=None, index=None, columns=None, aggfunc='mean', fill_value=None,
                   margins=False, dropna=True, margins_name='All', observed=False, sort=True)